[submodule "build_files/hyprland_source/hyprland-protocols"]
	path = build_files/hyprland_source/hyprland-protocols
	url = https://github.com/hyprwm/hyprland-protocols
[submodule "build_files/hyprland_source/hyprwayland-scanner"]
	path = build_files/hyprland_source/hyprwayland-scanner
	url = https://github.com/hyprwm/hyprwayland-scanner
[submodule "build_files/hyprland_source/hyprutils"]
	path = build_files/hyprland_source/hyprutils
	url = https://github.com/hyprwm/hyprutils
[submodule "build_files/hyprland_source/hyprgraphics"]
	path = build_files/hyprland_source/hyprgraphics
	url = https://github.com/hyprwm/hyprgraphics
[submodule "build_files/hyprland_source/hyprlang"]
	path = build_files/hyprland_source/hyprlang
	url = https://github.com/hyprwm/hyprlang
[submodule "build_files/hyprland_source/hyprcursor"]
	path = build_files/hyprland_source/hyprcursor
	url = https://github.com/hyprwm/hyprcursor
[submodule "build_files/hyprland_source/aquamarine"]
	path = build_files/hyprland_source/aquamarine
	url = https://github.com/hyprwm/aquamarine
[submodule "build_files/hyprland_source/xdg-desktop-portal-hyprland"]
	path = build_files/hyprland_source/xdg-desktop-portal-hyprland
	url = https://github.com/hyprwm/xdg-desktop-portal-hyprland
[submodule "build_files/hyprland_source/hyprwire"]
	path = build_files/hyprland_source/hyprwire
	url = https://github.com/hyprwm/hyprwire
[submodule "build_files/hyprland_source/hyprtoolkit"]
	path = build_files/hyprland_source/hyprtoolkit
	url = https://github.com/hyprwm/hyprtoolkit
[submodule "build_files/hyprland_source/hyprland"]
	path = build_files/hyprland_source/hyprland
	url = https://github.com/hyprwm/hyprland
[submodule "build_files/hyprland_ecosystem_source/hyprlauncher"]
	path = build_files/hyprland_ecosystem_source/hyprlauncher
	url = https://github.com/hyprwm/hyprlauncher
[submodule "build_files/hyprland_ecosystem_source/hyprpaper"]
	path = build_files/hyprland_ecosystem_source/hyprpaper
	url = https://github.com/hyprwm/hyprpaper
[submodule "build_files/hyprland_ecosystem_source/hyprpicker"]
	path = build_files/hyprland_ecosystem_source/hyprpicker
	url = https://github.com/hyprwm/hyprpicker
[submodule "build_files/hyprland_ecosystem_source/hypridle"]
	path = build_files/hyprland_ecosystem_source/hypridle
	url = https://github.com/hyprwm/hypridle
[submodule "build_files/hyprland_ecosystem_source/hyprlock"]
	path = build_files/hyprland_ecosystem_source/hyprlock
	url = https://github.com/hyprwm/hyprlock
[submodule "build_files/hyprland_ecosystem_source/hyprsysteminfo"]
	path = build_files/hyprland_ecosystem_source/hyprsysteminfo
	url = https://github.com/hyprwm/hyprsysteminfo
[submodule "build_files/hyprland_ecosystem_source/hyprsunset"]
	path = build_files/hyprland_ecosystem_source/hyprsunset
	url = https://github.com/hyprwm/hyprsunset
[submodule "build_files/hyprland_ecosystem_source/hyprpolkitagent"]
	path = build_files/hyprland_ecosystem_source/hyprpolkitagent
	url = https://github.com/hyprwm/hyprpolkitagent
[submodule "build_files/hyprland_ecosystem_source/hyprland-qt-support"]
	path = build_files/hyprland_ecosystem_source/hyprland-qt-support
	url = https://github.com/hyprwm/hyprland-qt-support
[submodule "build_files/hyprland_ecosystem_source/hyprqt6engine"]
	path = build_files/hyprland_ecosystem_source/hyprqt6engine
	url = https://github.com/hyprwm/hyprqt6engine
[submodule "build_files/hyprland_ecosystem_source/hyprpwcenter"]
	path = build_files/hyprland_ecosystem_source/hyprpwcenter
	url = https://github.com/hyprwm/hyprpwcenter
[submodule "build_files/hyprland_ecosystem_source/hyprshutdown"]
	path = build_files/hyprland_ecosystem_source/hyprshutdown
	url = https://github.com/hyprwm/hyprshutdown
