[Unit]
Description=Hyprland - Wayland compositor
Documentation=https://wiki.hypr.land
PartOf=hyprland-session.target
Before=hyprland-session.target

[Service]
Type=notify
ExecStart=/usr/bin/start-hyprland
Restart=no
TimeoutStopSec=10

[Install]
WantedBy=hyprland-session.target
